<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);">
  <div class="container">
    <h1>Popcorn Time</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>
<div class="container p-3">
  <h1 class="text-center">My movies</h1>
  <div class="list-container d-flex flex-row flex-wrap justify-content-center">
      <% @lists.each do |list| %>
          <div class="card-category w-25 m-3">
            <%= link_to list.name, list_path(list) %>
          </div>
        <% end %>
  </div>
</div>
