<div class="container">
  <h1 class="text-center mt-3">Add a new movie category</h1>

  <%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
